## Exercício 04 – Criando relatórios em função do arquivo dados-vendas.xlsx.

a) Crie um dataframe, utilizando o arquivo dados-vendas.xlsx. Crie data frames
para dividir a planilha vendas em 4 arquivos. São eles:
Tabela Fato

- ID-Produto;

- ID-Loja;

- ID-Vendedor;

- Data;

- ValorVenda.

Tabela Produtos

- ID-Produto;

- Produto;

- Categoria;

- Segmento;

- Fabricante;

Tabela Lojas

- ID-Loja;

- Cidade;

- Estado

Tabelas Vendedor

- ID-Vendedor;

- Vendedores;

In [2]:
# Importar a biblioteca do pandas
import pandas as pd

# Mapear o local do documento fonte

caminho = 'C:\\Users\\FIC\\Documents\\Henrique-Rodrigues\\003 - Arquivos\\'
arquivo = 'dados-vendas.xlsx'

# Atribuir os dados deste arquivo, em um dataframe
base = pd.read_excel(caminho + arquivo, sheet_name='Vendas')
base = base.rename(columns={'Loja': 'ID-Loja'})


# Exibir os cabeçalhos das colunas

base.head()

,ID-Produto,Produto,Categoria,Segmento,Fabricante,ID-Loja,Cidade,Estado,Vendedor,ID-Vendedor,Data Venda,ValorVenda
0,SKU-0000001,LG K10 TV Power,Celulares,Corporativo,LG,SP8821,São Paulo,São Paulo,Ana Teixeira,1009,2012-10-04,679.00
1,SKU-0000002,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,2012-01-01,832.00
2,SKU-0000003,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,2012-02-02,790.00
3,SKU-0000004,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Mateus Gonçalves,1003,2012-03-03,765.32
4,SKU-0000005,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Electrolux,SP8821,São Paulo,São Paulo,Artur Moreira,1004,2012-04-04,459.89

In [3]:
# Criando a tabela fato com as coluna:

df_dados= base[['ID-Produto', 'ID-Loja', 'ID-Vendedor', 'Data Venda', 'ValorVenda']]

# renomear a coluna Loja para ID-Loja
df_dados = df_dados.rename(columns={'Loja':'ID-Loja'})

df_dados.head()

# Slavar o arquivo na pasta dados-vendas

caminho_novo = caminho + 'Dados - venda\\'
arquivo = 'tabela_fato.xlsx'
df_dados = df_dados.drop_duplicates()

df_dados.to_excel(caminho_novo + arquivo, index=False)

In [4]:
tabela_produtos = base[['ID-Produto','Produto', 'Categoria','Segmento','Fabricante']]

caminho_novo = caminho + 'Dados - venda\\'
arquivo = 'Tabela_Produtos.xlsx'
tabela_produtos = tabela_produtos.drop_duplicates()

tabela_produtos.to_excel(caminho_novo + arquivo, index=False)
tabela_produtos.head()

    ID-Produto           Produto         Categoria     Segmento  Fabricante
0  SKU-0000001   LG K10 TV Power         Celulares  Corporativo          LG
1  SKU-0000002  Geladeira Duplex  Eletrodomésticos    Doméstico    Brastemp
2  SKU-0000003    Lavadora 11 Kg  Eletrodomésticos    Doméstico    Brastemp
3  SKU-0000004    Lavadora 11 Kg  Eletrodomésticos    Doméstico    Brastemp
4  SKU-0000005    Lavadora 11 Kg  Eletrodomésticos    Doméstico  Electrolux

In [5]:
tabela_Loja = base[['ID-Loja','Cidade','Estado']]

caminho_novo = caminho + 'Dados - venda\\'
arquivo = 'Tabela_Loja.xlsx'
tabela_Loja = tabela_Loja.drop_duplicates()

tabela_Loja.to_excel(caminho_novo + arquivo, index=False)
tabela_Loja.head()

   ID-Loja          Cidade          Estado
0   SP8821       São Paulo       São Paulo
7    A9990  Belo Horizonte    Minas Gerais
32  SP8823       São Paulo       São Paulo
39   R1296  Rio de Janeiro  Rio de Janeiro
41   V7654         Vitória  Espírito Santo

In [6]:
tabela_Vendedor = base[['ID-Vendedor','Vendedor']]

caminho_novo = caminho + 'Dados - venda\\'
arquivo = 'Tabela_Vendedor.xlsx'
tabela_Vendedor= tabela_Vendedor.drop_duplicates()

tabela_Vendedor.to_excel(caminho_novo + arquivo, index=False)

tabela_Vendedor.head()

   ID-Vendedor          Vendedor
0         1009      Ana Teixeira
1         1006      Josias Silva
3         1003  Mateus Gonçalves
4         1004     Artur Moreira
5         1005  Rodrigo Fagundes